body {
  color: antiquewhite;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(142, 177, 158);
}

.header {
text-align: center;
font-size: x-large;
margin-bottom: 100px;
}

.main{
width: 1300px;
display: flex;
justify-content: center;
}

img {
  border-radius: 20px;
  height:250px;
  width: 250px;
  object-fit: cover; 
}

.map-container {
  border-radius: 20px;
  width: 90%;
  height: 50vh;
  display: flex;
}

.card {
justify-content: center;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 35px;
}

.appmain {
width: 100vw;
display: flex;
justify-content: center;
}

.description {
display: flex;
justify-content: center;
}

.displaycard {
background-color: rgba(38, 108, 89, 0.638);
padding: 10px;

}

.gallery {
width: 100vw;
display: flex;
justify-content: center;
}

.alert-success {
  font-size: large;
  color: rgb(255, 255, 254);
  padding: 5px;  

}

.about {
  margin-left: 100px;
  margin-right: 100px;
}

.descriptioncard {
background-color: rgba(38, 108, 89, 0.638);
justify-content: center;
text-align: center;
flex-wrap: wrap;
gap: 35px;
width: 600px;
margin-top:30px;
border-radius: 20px;
}

.maptext {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
  z-index:1;
  margin: 5;
  padding: 0;
}

.infowindow {
  color: seagreen
}